body{
    overflow: hidden;
    padding: 0px;
    margin: 0px;
    margin-top: -54px;
    margin-left: -32px;
}

.player {
    background: blue;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    padding: 0px;
    margin: 0px;
    display: inline-block;
    position: absolute;
    
}

.food {
    background: red;
    border-radius: 50%;
    width: 32px;
    height: 32px;
    padding: 0px;
    margin: 0px;
    position: absolute;
    display: inline-block;
    
}