body{
    background: rgb(10, 10, 10);
    overflow: hidden;
    padding: 0px;
    margin: 0px;
    margin-top: -16px;
    margin-left: -16px;
    font-family: Arial, Helvetica, sans-serif;
}

.player {
    background: darkblue;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    padding: 0px;
    margin: 0px;
    display: inline-block;
    position: absolute;
    z-index: 2;
}

.food {
    background: darkred;
    border-radius: 50%;
    width: 32px;
    height: 32px;
    padding: 0px;
    margin: 0px;
    position: absolute;
    display: inline-block;
    z-index: 1;
    
}

.arrow {
    border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  z-index: 99;
}

.mass {
    color: white;
    padding: 0px;
    margin: 0px;
    position: absolute;
    display: inline-block;
    z-index: 99;
}

.deathScreen {
    background-color: rgb(101, 167, 189);
    border-radius: 3%;
    width: 400px;
    height: 300px;
    font-size: 32px;
    position: absolute;
    display: inline-block;
    z-index: 100;
    opacity: 0.5;
}

.loginBox{
    margin-left: 30%;
    margin-top: 10%;
    width: 40%;
    height: 20%;
    border-radius: 50%;
    display:inline-block;
    background: darkcyan;
}


.welcome{
    text-align: center;
}
.enterName{
    text-align: center;
}
.name{
    font-size: 24px;
    margin-top: 6px;
    margin-left: 25%;
    width: 50%;
}
