body{
    background: rgb(10, 10, 10);
    overflow: hidden;
    padding: 0px;
    margin: 0px;
    margin-top: -16px;
    margin-left: -16px;
}

.player {
    background: darkblue;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    padding: 0px;
    margin: 0px;
    display: inline-block;
    position: absolute;
    
}

.food {
    background: darkred;
    border-radius: 50%;
    width: 32px;
    height: 32px;
    padding: 0px;
    margin: 0px;
    position: absolute;
    display: inline-block;
    
}

.arrow {
    border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}

.mass {
    color: white;
    padding: 0px;
    margin: 0px;
    position: absolute;
    display: inline-block;
}

.deathScreen {
    width: 200px;
    height: 200px;
}